<?php

//In days
$timeBeforeNewContact=14;
$path="/web";
$domain="http://sandbox.deuxfleurs.fr/";

try
{
	$bdd = new PDO('mysql:host=localhost;dbname=contactdb', 'root', '');
}
catch (Exception $e)
{
        die('Erreur : ' . $e->getMessage());
}
?>

